@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: Avenir Next, sans-serif;
  background: darken(white, 0.2);
}

.banner_text h1, .banner_text h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.active {
  color: pink;
}

.banner {
  background: url(https://i.imgur.com/mqfC5aZ.png);
  width: 100%;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
}

.banner_text {
  width: 50%;
  height: 145px;
  left: 100px;
  top: 125px;

  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 25px;

  color: #FFFFFF;
}

#banner_tag {
  margin-bottom: 10px;
}

#logo {
  height: 40px;
  position: absolute;
  left: 100px;
  top: 30px;
}

#login {
  position: absolute;
  width: 111px;
  height: 29px;
  right: 50px;
  top: 25px;

  border: 2px solid #42EEF8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: rgba(52, 52, 52, 0);
  color: #FFFFFF;
  font-family: Inter UI;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  text-align: center;
}

#signup {
  position: absolute;
  width: 111px;
  height: 29px;
  right: 181px;
  top: 25px;
  border: 0px solid #42EEF8;
}

#bannerSignUp {
  border: 2px solid #42EEF8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: rgba(52, 52, 52, 0);
  color: #FFFFFF;
  width: 200px;
  height: 60px;
}

#FAQ {
  position: absolute;
  width: 111px;
  height: 29px;
  right: 292px;
  top: 25px;
  border: 0px solid #42EEF8;
}

#aboutus {
  position: absolute;
  width: 111px;
  height: 29px;
  right: 403px;
  top: 25px;
  border: 0px solid #42EEF8;
}

#how {
  position: absolute;
  width: 111px;
  height: 29px;
  right: 535px;
  top: 25px;
  border: 0px solid #42EEF8;
}

#firstSection {
  display: flex;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.menu_item {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;

  padding-top: 4px;

  border: 0px solid #42EEF8;
  background-color: rgba(52, 52, 52, 0);
  color: #FFFFFF;
}

#firstSectionText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#firstSectionTag {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

#firstSectionBody {
  width: 400px;
}

#firstSectionBox {
  display: flex;
  width: auto;
  flex-direction: column;
}

#firstSectionImage {
  height: 450px;
}

#secondSection {
  display: flex;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#secondSectionBox {
  align-items: center;
  justify-content: center;
  width: 80%;
}

#secondSectionBox h1 {
  text-align: center;
}

#howBanner {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #FFFFFF;
  flex-direction: row;
}

#howTitle {
  font-weight: normal;
}

#cardIcon {
  width: 176px;
}

#cashIcon {
  width: 114px;
}

#cashIconDiv {
  height: 176px;
}

#walletIcon {
  width: 112px;
}

#walletIconDiv {
  height: 176px;
}

.iconCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconText {
  color: black;
  display: flex;
  justify-content: center;
}

#howExplainer {
  width: 70%;
  text-align: center;
  font-size: 20px;
}

#howContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#thirdSectionBox {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-form-container {
  display: flex;
  justify-content: center;
}
.payment-form {
  max-width: 200px;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 20px #ededed;
}

.payment-form-button {
  width: 75%;
}

.test-payment {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.test-login {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
